table{
    width: 100%;
  }
  .hidden{
    display: none;
  }
  tr:nth-child(odd){
    background-color: #e9e9e9;
  }
  tr:nth-child(even)
  {
    background-color:#cbcbcb;
  }
  tr:nth-child(1){
    background-color: rgb(60, 120, 231);
    color:white;
  }
  tr:hover{
    background-color: #5b5b5b;
    transition-duration: 600ms;
    color:#fff
  }
  tr:nth-child(1):hover{
    background-color: rgb(60, 120, 231);
  }
  .table-scroll {
    max-height: 500px; 
    overflow: auto; 
    padding: 3px;
  }
  
  .table-scroll.with-scroll::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  
  .table-scroll.with-scroll::-webkit-scrollbar-thumb { 
    border-radius: 10px;
  }
  table, tr, th, td{
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 1px cornflowerblue;
    font-size: 20px;
  }
  tr, th, td{
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    font-size: 20px;
  }
  input[type=number], input[type=date]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #565656;
  }
  input[type=submit], input[type=reset]{
    width: 5%;
    height: 30px;
    margin-top: 10px;
  }
  input[type=submit]{
    border: none;
    background-color: limegreen;
    height: 50px;
    width: 100px;
    border-radius: 5px;
  }
  label{
    background-color: #565656;
    color: white;
    display: block;
    width: 100%;
  }
  #contentm{
    margin-left: 5%;
    transition:margin-left 0.7s,width 0.7s;
    padding: 5px;
    width: 95%;
  }
  ul#time,ul#time li{
    opacity: 1;
  }
  @media only screen and (max-width:1700px){
    #formwoda,#formgaz,#formcp{
      width: 50%;
    }
    #formgaz,#formcp{
      margin-left: 0px;
    }
  }
  @media only screen and (max-width:1100px){
    #formwoda,#formgaz,#formcp{
      width: 100%;
    }
    #formgaz,#formcp{
      margin-left: 0px;
    }
  }
  hr{
    margin: 7px;
  }